/* Place CSS styles here */

section {
    margin: 10px 50px 10px; 
}

.white_fox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 4px;
    width:fit-content; 
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.intro_content {
    grid-column-start: 3;
    grid-column-end: 6;
    margin-top: 50px;
    min-width: 400px;
}
.about_me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    width:100%; 
}

.about_me_content {
    grid-column-start: 3;
    grid-column-end: 7;
}
    

body {
    background-color: #F5E3E0;
    color: #45506B;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 24px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    display: block;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}
h4
{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
   
}

p
{
    font-family: "Raleway", sans-serif;
    font-size: 16px; 
}

li {
    font-family: "Raleway", sans-serif;
    font-size: 14px; 
}

a:link {
    color:#525c77
}
a:visited {
    color:#525c77
}
a:active {
    color:#525c77
}
a:hover {
    color:#101351
}

    